/* Define the "system" font family */
@font-face {
    font-family: system-light;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/* Define the "system" font family */
@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 400;
    src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Ubuntu Regular"), local("Segoe UI Regular"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}

/* Define the "system" font family */
@font-face {
    font-family: system-medium;
    font-style: normal;
    font-weight: 500;
    src: local(".SFNSText-Medium"), local(".HelveticaNeueDeskInterface-Medium"), local(".LucidaGrandeUI"), local("Ubuntu Medium"), local("Segoe UI Medium"), local("Roboto-Medium"), local("DroidSans"), local("Tahoma");
}

/* Define the "system" font family */
@font-face {
    font-family: system-bold;
    font-style: normal;
    font-weight: 800;
    src: local(".SFNSText-Bold"), local(".HelveticaNeueDeskInterface-Bold"), local(".LucidaGrandeUI"), local("Ubuntu Bold"), local("Segoe UI Bold"), local("Roboto-Bold"), local("DroidSans"), local("Tahoma");
}
